@charset "UTF-8";

/*Tudo que em HTML é ID em css vira #
  Tudo que em HTML é Class em css vira .
*/

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(4, 109, 0);

}
h2{
  color: rgb(73, 109, 71);
}
#principal{
    text-align: center;
    background-color: rgb(1, 158, 1);
}
.basico{
color: #3c805e;

}
.intermediario{
color: #80793c;
}
.avancado{
color: #803c3c;
}
.destaque{
  background-color: rgba(163, 163, 86, 0.486);
}