body{
    background-color: rgb(58, 50, 50);
}
h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: center;
    
    
}
html{
    text-align: center;
}
a{
    color: white;
    
}
